@import 'animate';

$subatomic-brand-color: #212239;

$font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
$font-weight-hairline: 100;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight: 400;
$font-weight-med: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-small: 14px;
$font-size-default: 16px;
$font-size-text: 18px;
$font-size-title: 40px;
$font-size-title-sub: 20px;
$font-size-heading: 25px;

html, body {
    font-family: $font-family;
    font-weight: $font-weight;
}

nav#nav-main {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05em;
    background-color: rgba(darken($subatomic-brand-color, 10%), 0.85);

    .nav-item {
        &.active {
            font-weight: $font-weight-med;
        }
        .nav-link {
            padding: .5rem 1rem;
    
            &.cta {
                font-weight: $font-weight-bold;
            }
        }
    }
}
@supports (backdrop-filter: blur(16px)) {
    nav#nav-main {
        background-color: rgba(darken($subatomic-brand-color, 10%), 0.80);
        backdrop-filter: blur(16px) saturate(150%);
    }
}

main {
    header {
        position: relative;
        padding: 6em 0em 4em;
        height: 100vh;
        z-index: 1;

        background-image: url('../img/bg-header.jpg');
        background-position: center;
        background-size: cover;

        .container {
            position: relative;
            height: 100%;
            bottom: 0px;

            .inner {
                position: absolute;
                left: 0px;
                bottom: 0px;
                padding: 0em 1em;
                @media (min-width: 768px) {
                    padding: 2em 4em;
                }
            }
        }
    }
    footer {
        font-size: $font-size-text;
        background-color: darken($subatomic-brand-color, 10%);
        padding: 2em 0em;
        line-height: 1em;

        a {
            display: inline-block;
            margin-right: 0.5em;
            color: inherit;

            &:hover {
                color: inherit;
            }
        }

        .fa-heart {
            color: red;
        }

        // Mobile breakpoint
        @media (max-width: 767px) {
            .col-md-4 {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }
        }
    }
    section {
        position: relative;
        padding: 6em 0em 8em;
        background-position: center;
        background-size: cover;
        z-index: 1;

        @media (max-width: 767px) {
            padding: 5em 0em 5em;
        }

        &#servicos {
            color: $subatomic-brand-color;
            background-color: #f0f0f0;
            overflow: hidden;

            &:before {
                content: ' ';
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: inherit;
                background-image: url('../img/bg-servicos.jpg');
                opacity: 0.35;
            }

            .servicos {
                margin-top: 4em;
            }
            .servico {
                vertical-align: top;
                
                h4 {
                    margin: 2em auto;
                    line-height: 1.5em;
                    min-height: 3em;
                    text-transform: uppercase;
                    font-size: $font-size-text;
                    font-weight: $font-weight-black;
                    padding: 0em 0.5em;
                }
                p {
                    font-size: $font-size-default;
                    font-weight: $font-weight-med;
                    text-align: justify;
                    text-align-last: left;
                    padding: 0em 2em;
                }

                @media (max-width: 767px) {
                    padding: 0em 2em;
                    margin-bottom: 6em;

                    p { padding: 0em; }
                }
            }
        }
        &#contato {
            background-color: darken($subatomic-brand-color, 5%);
            min-height: 100vh;
            min-height: calc(100vh - 5em);
            padding-bottom: 1em;

            form {
                .form-control-group {
                    margin-bottom: 1em;

                    label {
                        display: block;
                        width: 100%;

                        text-transform: uppercase;
                        font-weight: $font-weight-bold;
                        font-size: $font-size-small;
                    }

                    input[type="text"],
                    input[type="email"],
                    input[type="tel"],
                    select,
                    textarea {
                        color: #fff;
                        background-color: darken($subatomic-brand-color, 10%);
                        border: 1px solid darken($subatomic-brand-color, 5%);
                        font-weight: $font-weight-med;
                        font-size: $font-size-small;
                        padding: .5rem 1rem;
                    }

                    select option {
                        background: #fff;
                        color: $subatomic-brand-color;
                    }

                    .btn {
                        &.btn-primary {
                            font-weight: $font-weight-bold;
                            text-transform: uppercase;
                            letter-spacing: 0.1em;
                            background-color: saturate(lighten($subatomic-brand-color, 20%), 20%);
                            border-color: saturate(lighten($subatomic-brand-color, 20%), 20%);
                        }
                    }
                }
            }
        }
    }

    color: #fff;
    background-color: $subatomic-brand-color;
    font-size: $font-size-text;
    font-weight: $font-weight;

    h1 {
        font-size: $font-size-title;
        font-weight: $font-weight-thin;
        letter-spacing: -0.03em;
        background: #fff;
        color: $subatomic-brand-color;
        padding: 0.25em;
        
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    h2 {
        font-size: $font-size-title-sub;
        font-weight: $font-weight-bold;
        padding: 0.25em 0.55em;
        
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }
    h3 {
        font-size: $font-size-heading;
        font-weight: $font-weight-black;
        margin: 1em 0em;
        text-transform: uppercase;
    }
    
    .fit-img {
        max-width: 100%;
    }
}