// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,800&display=swap');

// Configs
@import 'config';

// App
#app {
  font: 18px Montserrat, 'San Francisco', 'Hevetica Neue', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #000;
}

// Reset paddings & margins
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

// Top navigation
nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $grid-height;
  z-index: 999;

  font-size: 14px;

  .nav-logo { text-align: left; }
  .nav-main { text-align: right; }

  &, path {
    will-change: color, fill;
    transition: color $page-transition-time ease, fill $page-transition-time ease;
  }

  a {
    color: inherit;
    display: inline-block;
    padding: 0.5em 15px;

    text-transform: uppercase;
    font-weight: 700;

    &:hover, &.router-link-active {
      color: inherit;
      text-decoration: none;
    }
  }
}

// Main content
.website-main {
  min-height: 100vh;

  .website-page {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;

    will-change: transform;
    transition: transform ($page-transition-time * 2.2) ease-in, opacity 0.7s ease;
    transform: translate(0, 0);

    &.changing {
      transform: translate(-100%, 0);
      opacity: 0.7;
    }
    &.slide-leave-active { transition-duration: 0s; }
    &.slide-enter-active {
      transition: transform $page-transition-time ease;
    }
    &.slide-enter {
      transform: translate(100%, 0);
    }
    &.slide-enter-to {
      transform: translate(0, 0);
      box-shadow: 0px 0px 48px rgba(0, 0, 0, 1);
    }

    &>.website-page-inner {
      position: relative;
      z-index: 1;
      
      height: 100vh;
      padding-top: $grid-height;
      overflow-y: auto;

      &>.website-page-background {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: -1;

        background-position: center;
        background-size: cover;
      }
    }

    // Grid
    .grid-row {
      min-height: $grid-height;
      display: flex;

      &.grid-mt-h { margin-top: $grid-height / 2; }
      &.grid-mt-1 { margin-top: $grid-height * 1; }
      &.grid-mt-2 { margin-top: $grid-height * 2; }
      &.grid-mt-3 { margin-top: $grid-height * 3; }
      &.grid-mt-4 { margin-top: $grid-height * 4; }
      &.grid-mt-5 { margin-top: $grid-height * 5; }

      &.grid-size-0 { min-height: $grid-height * 0; }
      &.grid-size-1 { min-height: $grid-height * 1; }
      &.grid-size-2 { min-height: $grid-height * 2; }
      &.grid-size-3 { min-height: $grid-height * 3; }
      &.grid-size-4 { min-height: $grid-height * 4; }
      &.grid-size-5 { min-height: $grid-height * 5; }

      &.grid-align-top { align-items: top; }
      &.grid-align-mid { align-items: center; }
      &.grid-align-bot { align-items: bottom; }
    }

    // Headers
    h1, h2 {
      display: block;
      width: 100%;
      text-align: center;
    }

    h1 {
      font-size: 32px;
      font-weight: 700;
    }
    h2 {
      font-size: 18px;
      font-weight: 500;
    }
  }
}
